%h1 Wybierz kota
=image_tag("1.jpg")
=link_to "Mieszaj kota", :action => :mix, :id => 1
%br
=image_tag("2.jpg")
=link_to "Mieszaj kota", :action => :mix, :id => 2
%br
=image_tag("3.jpg")
=link_to "Mieszaj kota", :action => :mix, :id => 3
